<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html.twig' %}

<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/blue.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/pink.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/purple.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h1>{{message}}</h1>
        <h2>Books Available</h2>
        <div class="row">
            {% for item in books %}
                <div class="col-3">
                    <h4>{{ item.Title }}</h4>
                    <img 
                    style="aspect-ratio:3/4; object-fit:cover;" 
                    class="w-100 img-fluid" 
                    src="images/{{item.Cover}}">
                </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>