<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html.twig' %}

<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <!-- <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/blue.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/pink.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/purple.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> -->
        <h2>{{message}}</h2>
        <div class="row">
            {% for item in books %}
            <div class="col-md-3">
                <div class="card my-2">
                    <img style="aspect-ratio:3/4; object-fit:cover;" class="w-100 img-fluid border card-img-top"
                        src="images/{{item.Cover}}">
                    <div class="card-body">
                        <h4 style="min-height: 4em;" class="fs-6">
                            {{ item.Title }}
                        </h4>

                        <a class="btn btn-primary w-100" href="detail.php?id={{item.id}}">
                            More Detail
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>