<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html.twig' %}

<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container mt-4">
        <h2 class="text-center">{{message}}</h2>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form id="signup" class="mt-4" action="/signup.php" method="post" novalidate>
                    <div class="mb-3">
                        <label for="first" class="form-label">First</label>
                        <input name="first" type="text" class="form-control" id="first"
                            placeholder="First Name">

                    </div>
                    <div class="mb-3">
                        <label for="last" class="form-label">Last</label>
                        <input name="last" type="text" class="form-control" id="last"
                            placeholder="Last Name">

                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="username"
                            placeholder="maximum 16 characters" minlength="3" maxlength="16">

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password"
                            placeholder="minimum 10 characters">
                        <div class="invalid-feedback">
                            The password has to be at least 10 characters
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input name="confirm-password" type="password" class="form-control" id="confirm-password"
                            placeholder="confirm your password">
                        <div class="invalid-feedback">
                            The passwords don't match
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Sign up</button>
                        <!-- <button type="reset">Reset</button> -->
                    </div>
                    <!-- alert -->
                    {% if success == true %}
                    <div class="alert alert-success" role="alert">
                        Sign up successful. Check out our 
                        <a href="/"> books</a>
                    </div>
                    {% elseif success == false %}
                    <div class="alert alert-danger" role="alert">
                        Sign up unsuccessful
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <script src="/js/signup.js"></script>
</body>

</html>